.barrita {
    height: 100vh;
}

.derecha {
    /* background-color: aqua */
}

.azul {
    /* background-color: blue */
}

.roja {
    /* background-color: red */
}

.verde {
    /* background-color: green; */
    height: 50vh;
    max-height: 50vh;
}

#mapa {
    height: 50vh;
    max-height: 50vh;
}

.testimonios {
    height: 50vh;
    max-height: 50vh;
}

#burbujas {
    height: 50vh;
    max-height: 50vh;
}

.btn {
    margin: 4px;
    box-shadow: 1px 1px 5px #888888;
}

.btn-hot {
    color: #000;
    background-color: #b1b1b1;
    border-bottom: 2px solid #a4a4a4;
}

.btn-hot:hover, .btn-sky.active:focus, .btn-hot:focus, .open>.dropdown-toggle.btn-hot {
    color: #fff;
    background-color: #df6a78;
    border-bottom: 2px solid #b25560;
    outline: none;
}

.btn-hot:active, .btn-hot.active {
    color: #fff;
    background-color: #c04b59;
    border-top: 2px solid #9a3c47;
    margin-top: 2px;
}

.gen {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.navbarmargin {
    height: 60px;
}

body {
    background-color: black;
}

.axis line {
    stroke: white;
}

.axis path {
    stroke: white;
}

.axis text {
    fill: white;
}

.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before, .slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

#push {
    float: right;
    float: left;
}

.slick-track {
    width: 100% !important
}

@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";
body, .badgescard, .firstinfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    min-height: 100%;
    font-size: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.noScroll {
    overflow: hidden !important
}

/* *, *:before, *:after {
    box-sizing: border-box;
} */

.content {
    position: relative;
    animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
}

.badgescard {
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #00bcd4;
    color: #fff;
    width: 480px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: -1;
    left: 10px;
    bottom: 10px;
    animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s forwards;
}

.badgescard span {
    font-size: 1.6em;
    margin: 0px 6px;
    opacity: 0.6;
}

.firstinfo {
    flex-direction: row;
    z-index: 2;
    position: relative;
}

.firstinfo img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.firstinfo .profileinfo {
    padding: 0px 20px;
}

.firstinfo .profileinfo h1 {
    font-size: 1.8em;
}

.firstinfo .profileinfo h3 {
    font-size: 1.2em;
    color: #00bcd4;
    font-style: italic;
}

.firstinfo .profileinfo p.bio {
    padding: 10px 0px;
    color: #5A5A5A;
    line-height: 1.2;
    font-style: initial;
}

@keyframes animatop {
    0% {
        opacity: 0;
        bottom: -500px;
    }
    100% {
        opacity: 1;
        bottom: 0px;
    }
}

@keyframes animainfos {
    0% {
        bottom: 10px;
    }
    100% {
        bottom: -42px;
    }
}

@keyframes rotatemagic {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        top: -24px;
        left: -253px;
    }
    100% {
        transform: rotate(-30deg);
        top: -24px;
        left: -78px;
    }
}

/* carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}

/* Control buttons  */

#quote-carousel .carousel-control {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}

/* Previous button  */

#quote-carousel .carousel-control.left {
    left: -12px;
}

/* Next button  */

#quote-carousel .carousel-control.right {
    right: -12px !important;
}

/* Changes the position of the indicators */

#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

/* Changes the color of the indicators */

#quote-carousel .carousel-indicators li {
    background: #c0c0c0;
}

#quote-carousel .carousel-indicators .active {
    background: #333333;
}

#quote-carousel img {
    width: 250px;
    height: 100px
}

/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    #quote-carousel {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
    }
}

/* Small devices (tablets, up to 768px) */

@media (max-width: 768px) {
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 1000;
}

#loading img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -20px;
    margin-left: -30px;
}

.option_card {
    position: fixed;
    top: 60px;
    z-index: 100;
    width: 15vw;
}

.boton {
    cursor: pointer;
}

ul#menu li {
    display: inline;
}

.section {
    height: 100vh;
}

.tooltips {
    position: fixed;
    top: 10vh;
    right: 3vw;
}

.tooltips h1 {
    color: aliceblue;
    font-size: 3vh;
}

.tooltips p {
    color: aliceblue;
    font-size: 2vh;
}

.active_boton {
    color: red
}